*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(243, 241, 241);
}
/* logo con titolo */
#logo {
    background-color: white;
    
}
.logo-head{
    vertical-align: middle;
}

h1{
    display: inline-block;
}

/* testa della lista */
.container{
    background-color: white;
    margin: auto;
    width: 80%;
    border-radius: 5px;
    box-sizing: border-box;
}
.head-list {
    margin-top: 30px;
}
.list{
    margin-top: 5px;
    padding-left: 35px;

}

.head-container{
    padding: 20px;
}

.back{
    display: inline;
    padding: 5px;
    border-radius: 5px;
}
.add-task{
    background-color: lightskyblue;
    color: white;
}

.add-section{
    color: lightslategray;
    border: 1px solid lightslategray;
    
}

/* lista con check green e wrong */
h3{
    padding-top: 20px;
}

ul {
    list-style: none;
    list-style-position: inside;
    
}
li{
    margin-top: 1em;
    margin-bottom: 1em;
}

.right{
    list-style-image: url("../img/right.png");
}

.wrong{
    list-style-image: url("../img/wrong.png");
}

/* icone finali di ogni lista */

#back-radius{
    border-radius: 10px;
    font-size: xx-small;
}

.editorial{
    size: 5px;
    background-color: rgb(54, 172, 245);
    padding: 3px;
    
}

.goals{
    size: 5px;
    background-color: rgb(153, 54, 245);
    padding: 3px;
}