*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(243, 241, 241);
}
#logo {
    background-color: white;
    
}
.logo-head{
    vertical-align: middle;
}

h1{
    display: inline-block;
}

#container{
    background-color: white;
    margin: 30px auto;
    width: 80%;
    border-radius: 10px;
    
}

.head-container{
    padding: 20px;
}

.back{
    display: inline;
    padding: 5px;
    border-radius: 5px;
}
.add-task{
    background-color: lightskyblue;
    color: white;
}

.add-section{
    color: lightslategray;
    border: 1px solid lightslategray;
    
}